* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("../images/night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#container {
  width: 60%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(35%, 10%);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  position: relative;
  overflow-x: hidden;
}

#container div:nth-child(1) {
  margin-left: 5vw;
  margin-top: 5vh;
}

#search {
  display: flex;
}

#search div {
  display: flex;
  width: 60%;
  height: 4vh;
  row-gap: 1vh;
  margin: 5vh auto 0;
  box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

#search input {
  width: 80%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  padding-left: 1vw;
  outline: none;
  font-size: 1.1rem;
}

#search button {
  width: 20%;
  height: 100%;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.wishlist_icon {
  font-size: 1.5rem;
  margin-top: 3vh;
  margin-right: 3vw;
}

.wishlist_icon:active {
  color: red;
}

#forecast {
  display: flex;
  position: absolute;
  bottom: 3vh;
  left: 0;
  column-gap: 1vw;
}

.forecast_card {
  border-radius: 10px;
  border: 2px solid white;
  width: 12vw;
  height: 20vh;
  padding-left: 1vw;
  padding-top: 1vh;
  display: flex;
  flex-direction: column;
  row-gap: 0.5vh;
}

#forecast button {
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  padding: 0.5vh 1vw;
}

#forecast .prev {
  left: 2vw;
}

#forecast .next {
  left: 52vw;
  color: red;
}

.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
}

.carousel {
  display: flex;
  overflow: hidden;
  column-gap: 0.5vw;
}

.prev:hover,
.next:hover {
  background-color: #ccc;
}
